.contact {
  background-color: rgba(163, 96, 191, 0.7);
}

h3 {
  width: 100%;
  font-size: 72px;
  padding: 5%;
  margin: auto 0;
  color: #f29f05;
  text-shadow: 3px 3px 1px #3fa646;
  text-align: center;
}
h3 span {
  font-size: 75%;
  color: #f26052;
  text-shadow: 3px 3px 1px #000;
}

@media screen and (max-width: 768px) {
  h3 {
    width: 100%;
    font-size: 48px;
    padding: 1%;
  }
  h3 span {
    font-size: 75%;
  }
}
@media screen and (max-width: 480px) {
  h3 {
    width: 100%;
    font-size: 32px;
    padding: 1%;
  }
  h3 span {
    font-size: 75%;
  }
}

.Form {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  max-width: 720px;
}
@media screen and (max-width: 768px) {
  .Form {
    margin-top: 20px;
    max-width: 360px;
  }
}
.Form-Item {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 768px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #545454;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.button-area {
  display: flex;
  justify-content: space-around;
}
.c-button {
  display: block;
  width: 30%;
  padding: 1em 2em;
  border-radius: 6px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.totop {
  background: red;
  box-shadow: 0 5px 0 rgba(255, 99, 99, 0.5);
  color: #fff;
  transition: all 0.3s;
}
.totop:hover {
  box-shadow: none;
  transform: translateY(5px);
}
.Form-Btn {
  background-color: #3fa646;
  color: #fff;
  cursor: not-allowed;
}
@media screen and (max-width: 768px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

.contact-info {
  display: block;
  width: 80%;
}
.contact-image {
  width: 50%;
  max-width: 320px;
  min-width: 240px;
  margin: 8px auto;
}
.contact-image img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 1px 8px #fff;
}
.staff {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  text-shadow: 3px 3px 1px #f29f05;
}
