body,
html {
  width: 100%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background: repeating-linear-gradient(
    to bottom right,
    rgba(242, 73, 166, 0.3) 0px 30px,
    rgba(163, 96, 191, 0.5) 30px 60px
  );
  background: -webkit-repeating-linear-gradient(
    top left,
    rgba(242, 73, 166, 0.3) 0px 30px,
    rgba(163, 96, 191, 0.5) 30px 60px
  );
  background: -moz-repeating-linear-gradient(
    to top left,
    rgba(242, 73, 166, 0.3) 0px 30px,
    rgba(163, 96, 191, 0.5) 30px 60px
  );
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  z-index: 9999999;
  text-align: center;
  color: #594a3c;
}

#splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cinzel", serif;
}

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.splashbg {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
  display: block;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: scaleY(0);
  background-color: rgb(255, 137, 137);
  animation-name: PageAnime;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes PageAnime {
  0% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
  50% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  50.001% {
    transform-origin: top;
  }
  100% {
    transform-origin: top;
    transform: scaleY(0);
  }
}

/*画面遷移の後現れるコンテンツ設定*/

#container {
  opacity: 0; /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

/*=== マウスが動いてスクロールを促す ====*/

/*スクロールダウン全体の場所*/
.scrolldown3 {
  position: absolute;
  bottom: 10px;
  right: 50%;
  /*マウスの動き1.6秒かけて動く永遠にループ*/
  animation: mousemove 1.6s ease-in-out infinite;
}

/*下からの距離が変化して上から下に動く*/
@keyframes mousemove {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 10px;
  }
}

/*Scrollテキストの描写*/
.scrolldown3 span {
  /*描画位置*/
  position: absolute;
  left: -3px;
  bottom: 45px;
  /*テキストの形状*/
  color: #fff;
  font-size: 0.5rem;
  letter-spacing: 0.05em;
}

/*マウスの中の線描写 */
.scrolldown3 span::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 10px;
  left: 5px;
  /*線の形状*/
  width: 1px;
  height: 15px;
  background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: mousepathmove 1.4s linear infinite;
  opacity: 0;
}

/*上からの距離・不透明度・高さが変化して上から下に流れる*/
@keyframes mousepathmove {
  0% {
    height: 0;
    top: 10px;
    opacity: 0;
  }
  50% {
    height: 15px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 30px;
    opacity: 0;
  }
}

/*マウスの描写 */
.scrolldown3:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -10px;
  /*マウスの形状*/
  width: 25px;
  height: 37px;
  border-radius: 10px;
  border: 1px solid #fff;
}

/*マウスの中の丸の描写*/
.scrolldown3:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 26px;
  left: 0;
  /*丸の形状*/
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #fff;
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

/* スクロールしたら指定された要素がふわっと動く　*/

.fadeUpTrigger {
  opacity: 0;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

/* 背景色の設定　*/

.header {
  width: 100%;
  height: 100vh;
  background-color: rgba(242, 96, 82, 0.3);
  display: flex;
}
.main {
  width: 100%;
  background-color: rgba(242, 159, 5, 0.3);
  display: block;
  padding: 1%;
}
.footer {
  width: 100%;
  background-color: rgba(163, 96, 191, 0.3);
  display: block;
  padding: 1%;
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

/* 見出しの設定 */
.title {
  width: 50%;
  margin: auto 0;
}
h1 {
  width: 100%;
  font-size: 10vw;
  text-align: center;
  color: #f29f05;
  text-shadow: 3px 3px 1px #3fa646;
}
h2 {
  font-size: 6vw;
  margin: 3% auto;
  color: #f249a6;
  text-shadow: 3px 3px 1px #fff;
  text-align: center;
}

/*ぽてちの紹介*/
.profile {
  width: 100%;
  display: block;
}
/*「好きな食べ物」「嫌いな食べ物」*/
.food {
  width: 100%;
  display: flex;
  padding: 5%;
}
.food h2 {
  font-size: 4vw;
}

/*「活動内容」「目標」「マネージャー」*/
.work {
  width: 100%;
  display: block;
  padding: 5% 0;
  text-align: center;
}

/* 画像に関するcss */
.image {
  width: 50%;
  margin: auto;
  padding: 5%;
}
.image img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 1px 8px #fff;
}
.sns-box {
  width: 50%;
  margin: 0 auto;
  display: flex;
  background-color: rgba(163, 96, 191, 0.1);
  padding: 8px 0;
}
.sns-icon {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-brands {
  width: 100%;
}

.fa-twitter {
  color: rgba(29, 161, 242, 1);
}
.fa-twitter:hover {
  color: rgba(29, 161, 242, 0.5);
}
.fa-instagram {
  color: rgba(207, 46, 146, 1);
}
.fa-instagram:hover {
  color: rgba(207, 46, 146, 0.5);
}
.fa-line {
  color: rgba(0, 185, 0, 1);
}
.fa-line:hover {
  color: rgba(0, 185, 0, 0.5);
}
/* 説明文に関するcss */
.explanation {
  width: 50%;
  margin: auto;
  text-align: center;
}
.explanation p {
  width: 100%;
  font-size: 2.8vw;
  color: #f26052;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
  padding: 32px 0;
}
.work .explanation {
  width: 65%;
  max-width: 960px;
}

.arrow {
  width: 5vw;
  margin: 0 auto;
  padding: 8px 0;
}
.arrow i {
  width: 100%;
  color: #f29f05;
  text-shadow: 3px 3px 3px #3fa646;
  padding: 3px 0;
}

/*「お問い合わせはこちら」*/
.btnClass {
  width: 100%;
  text-align: center;
  padding: 3% 0;
}

.btn {
  display: inline-block;
  padding: 0.8em 3em;
  background-color: #3fa646;
  box-shadow: 0 5px 0 rgba(63, 166, 70, 0.5);
  border-radius: 8px;
  color: #f29f05;
  text-shadow: 3px 3px 3px rgba(163, 96, 191, 0.5);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 32px;
}

/* ホバー時 */
.btn:hover {
  box-shadow: none;
  transform: translateY(5px);
}
.copyright p {
  font-size: 8px;
  text-align: center;
  padding: 8px 0;
}

@media screen and (max-width: 1080px) {
  .header {
    display: block;
    margin: auto 0;
  }
  .title {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    width: 100%;
    font-size: 96px;
    text-align: center;
    color: #f29f05;
    text-shadow: 3px 3px 1px #3fa646;
    margin: auto 0;
  }
  /* 画像に関するcss */
  .header .image {
    width: 50%;
    min-width: 280px;
    margin: auto;
    padding: 5%;
  }
  .image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 1px 8px #fff;
  }
  h2 {
    font-size: 72px;
  }
  .food h2 {
    font-size: 48px;
  }
  .explanation p {
    width: 100%;
    font-size: 32px;
    line-height: 48px;
    padding: 24px 0;
  }
  .btn {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
    margin: auto 0;
  }

  .title {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    width: 100%;
    font-size: 72px;
    text-align: center;
    color: #f29f05;
    text-shadow: 3px 3px 1px #3fa646;
    margin: auto 0;
  }
  /* 画像に関するcss */
  .header .image {
    width: 50%;
    min-width: 280px;
    margin: auto;
    padding: 5%;
  }
  .image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 1px 8px #fff;
  }
  h2 {
    font-size: 56px;
  }
  .food h2 {
    font-size: 36px;
  }
  .explanation p {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    padding: 18px 0;
  }
  .btn {
    font-size: 18px;
  }
  .sns-box {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header .image {
    width: 50%;
    min-width: 180px;
    margin: auto;
    padding: 0%;
  }
  .title {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    width: 100%;
    font-size: 64px;
    text-align: center;
    color: #f29f05;
    text-shadow: 3px 3px 1px #3fa646;
    margin: auto 0;
  }
  /* 画像に関するcss */
  .header .image {
    width: 50%;
    min-width: 280px;
    margin: auto;
    padding: 5%;
  }
  .image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 1px 8px #fff;
  }
  h2 {
    font-size: 36px;
  }
  .food h2 {
    font-size: 22px;
  }
  .explanation p {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 0;
  }
  .btn {
    font-size: 14px;
  }
}